<div [ngClass]="{'glow': pursuitHasRunningObjectives(), 'searched': (searchedId===charNum+'-'+pursuit.pursuitNum)}"
     [attr.id]="'pursuit-'+charNum+'-'+pursuit.pursuitNum">
  <mat-card class="pursuit-item"
            title="{{pursuit.description}}"
            (click)="toggleSelectedPursuit.emit($event)"
            [ngClass]="{'selected': pursuitIsSelected}">
    <!--<div class="highlighter">&nbsp;</div>-->
    <!--<div class="selected">&nbsp;</div>-->
    <mat-card-title class="pursuit-title">
      <img class="pursuit-item-icon" *ngIf="pursuit.icon" src="https://www.bungie.net{{pursuit.icon}}"
           alt="{{pursuit.itemTypeDisplayName}}" title="{{pursuit.itemTypeDisplayName}}">
      <div class="pursuit-text">
            <span class="pursuit-itemType"
                  *ngIf="!pursuit.icon">{{itemTypeDisplayNameHighlighted}} : </span>
        <span [innerHTML]="nameHighlighted"></span>
        <div class="pursuit-description" [innerHTML]="descriptionHighlighted"></div>
        <div class="pursuit-expiration"
             *ngIf="pursuit.expirationDate">{{pursuit.expirationDate | timeExpiration }}</div>
        <div class="pursuit-expiration"
             *ngIf="pursuit.itemTypeDisplayName == 'Vendor'">{{'available_bounty' | translate }}
          : <span [innerHTML]="vendorNameHighlighted"></span></div>
      </div>
    </mat-card-title>
    <mat-chip-list class="tags">
      <app-tag class="tag" *ngFor="let tag of tagList"
               [tag]="tag"
               [selected]="containsTag(tag)"
               (toggleTagEmitter)="toggleTag(tag, $event)"
      ></app-tag>
    </mat-chip-list>
    <app-reward class="reward" *ngFor="let reward of pursuit.rewards"
                [reward]="reward"
                [pursuitName]="pursuit.name"
                [pursuitObjectivesLength]="pursuit.objectives.length"
                [searchText]="searchText"
                [searchRegExp]="searchRegExp"
    ></app-reward>
    <div *ngIf="pursuit.objectives">
      <app-objective class="objective" *ngFor="let objective of pursuit.objectives"
                     [objective]="objective"
                     [isVendor]="pursuit.itemTypeDisplayName == 'Vendor'"
                     [searchText]="searchText"
                     [searchRegExp]="searchRegExp"

                     (launchObjectiveTimeEmitter)="launchObjectiveTime($event)"
                     (stopObjectiveTimeEmitter)="stopObjectiveTime($event)"
      ></app-objective>
    </div>
  </mat-card>
</div>
