<div class="page" *ngIf="checklist" (swipeleft)="swipe($event)" (swiperight)="swipe($event)">
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center" [selectedIndex]="selectedTab" (selectedIndexChange)="selectedIndexChange($event)">
    <mat-tab *ngFor="let character of checklist.characters; let charNum = index">
      <ng-template mat-tab-label>
        <div class="character character{{charNum}} tab-header" [class.selected]="charNum === selectedTab">

          <mat-card class="character-card character-card{{charNum}}">
            <div>
              <mat-card-title
                  [style.background-image]="'url(https://www.bungie.net'+character.emblemBackgroundPath+')'">
                <div class="type">{{character.genderedClassNames}}<span
                    class="race">{{character.genderedRaceNames}}</span><span class="light">{{character.light}}</span>
                </div>

              </mat-card-title>
            </div>
          </mat-card>
        </div>
      </ng-template>
      <div class="content character character{{charNum}}">
        <app-pursuit *ngFor="let pursuit of character.pursuits; let pursuitNum = index"
                     [swipeRunning]="swipeRunning"
                     [pursuit]="pursuit"
                     [characterId]="character.characterId"
                     [genderedClassNames]="character.genderedClassNames"
                     [charNum]="character.charNum"
                     [searchedId]="searchedId"
                     [pursuitShouldBeDisplayed]="pursuitShouldBeDisplayed(character,pursuit)"
                     [pursuitIsSelected]="pursuitIsSelected(pursuit, character)"


                     (toggleSelectedPursuit)="toggleSelectedPursuit(pursuit, character, $event)"
                     (pursuitMatchSearch)="pursuitMatchSearch(charNum, pursuitNum)"
                     (objectiveTimeChange)="objectiveTimeChange($event)"
                     [ngClass]="{'not-visible': !pursuitShouldBeDisplayed(character,pursuit)}"
        ></app-pursuit>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
