@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page {
    display: flex;

    .character {
      flex: 1 1 auto;

      .character-card-sticky, .character-card {
        background-color: #303030;

        > div {
          padding-top: 16px;
        }

        div.tooltip {
          color: grey;
          padding-top: 0;
          padding-right: 0.3em;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }


        .mat-card-title {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 3em;
          text-align: center;
          color: white;
          display: flex;
          align-items: stretch;
          justify-content: center;

          .type {
            padding-top: 0.8em;
            width: 14em;
            position: relative;

            .light {
              font-size: 0.8em;
              position: absolute;
              right: 0;
              bottom: 0.5em;
            }
            .race {
              font-size: 0.6em;
              padding-left: 0.5em;
            }
          }

        }

      }

      .character-card-sticky {
        position: fixed;
        display: none;
      }

      .character-card0 {
        z-index: 20;
      }

      .character-card-sticky0 {
        z-index: 21;
      }

      .character-card1 {
        z-index: 22;
      }

      .character-card-sticky1 {
        z-index: 23;
      }

      .character-card2 {
        z-index: 24;
      }

      .character-card-sticky2 {
        z-index: 25;
      }


      .pursuit-item {

        .pursuit-title {
          display: flex;
          align-items: center;
        }

        .pursuit-text {
          margin-left: 0.5em;
          width: 100%;
        }

        .pursuit-itemType {
          color: rgba(0, 0, 0, 0.6);
        }

        .pursuit-item-icon {
          width: 2em;
          vertical-align: middle;
        }

        .pursuit-description {
          font-size: 0.5em;
        }

        .pursuit-expiration {
          font-size: 0.5em;
          font-style: italic;
          float: right;
        }

        .reward {
          padding-left: 4em;

          span {
            vertical-align: middle;
          }

          .reward-icon, .reward-identifier-icon {
            width: 1.5em;
            vertical-align: middle;
            padding-right: 0.5em;
          }
        }

        .objective {
          padding-left: 4em;
          display: flex;

          .objective-checkbox {
            flex: 1 1 100%;

            ::ng-deep label {
              width: 100%;
              white-space: normal;

              .mat-checkbox-inner-container {
                margin-left: 0;
              }

              .mat-checkbox-label {
                width: 100%;
                position: relative;
              }
            }
          }

          .objective-checkbox-border {
            ::ng-deep .mat-checkbox-label {
              border-style: solid;
              border-width: 1px;
              border-color: #1b5e20;
            }
          }

          .objective-description {
            z-index: 10;
            opacity: 1;
            position: relative;

            span {
              font-size: 0.7em;
            }
          }

          .objective-progress {
            z-index: 10;
            opacity: 1;
            position: relative;
            float: right;
          }

          .objective-progressbar {
            background-color: #2e7d32;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            opacity: 0.3;
            z-index: 1;
          }

          .objective-running {
            width: 7em;
            padding-left: 0.5em;
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
      }

    }

    .character0 {
      z-index: 15;
    }
    .character1 {
      z-index: 16;
    }
    .character2 {
      z-index: 17;
    }

    .config-choices {
      position: absolute;
      right: 0;
    }


  }
}

@media (max-width: 720px) {
  .page {
    flex-direction: column;
  }
}

