@import '~@angular/material/theming';




:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page {
    display: flex;
    overflow: hidden;

    mat-tab-group {
      flex: 1 1 100%;
      overflow-x: hidden;
      //::ng-deep .mat-tab-header-pagination {
      //  display: none !important;
      //}
    }

    ::ng-deep .mat-tab-label {
      height: 7em;
    }

    .tab-header mat-card-title {
      width: 13em;
      transition: all 200ms ease-in;
      transform: scale(0.7);
    }

    .tab-header.selected  mat-card-title {
      width: 16em;
      transition: all 200ms ease-in;
      transform: scale(1);
    }

    .content {
      display: flex;

      > app-pursuit {
        flex: 0 1 33%;
      }

      .not-visible {
        display: none;
      }


    }

    .character {
      flex: 1 1 auto;
      //display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: center;

      .character-card {
        background-color: #303030;
        flex: 1 1 100%;

        > div {
          padding-top: 16px;
        }

        div.tooltip {
          color: grey;
          padding-top: 0;
          padding-right: 0.3em;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }


        .mat-card-title {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 3em;
          text-align: center;
          color: white;
          display: flex;
          align-items: stretch;
          justify-content: center;

          .type {
            padding-top: 0.8em;
            width: 14em;
            position: relative;

            .light {
              font-size: 0.8em;
              position: absolute;
              right: 0;
              bottom: 0.5em;
            }
            .race {
              font-size: 0.6em;
              padding-left: 0.5em;
            }
          }

        }

      }




    }

    .config-choices {
      position: absolute;
      right: 0;
    }


  }



}

@media (max-width: 700px) {
  .page .content.character  > div {
    flex: 0 1 100%;
  }
  .page .tab-header.selected mat-card-title {
    width: 12em !important;
  }
  .page ::ng-deep .mat-tab-label {
    height: 5em !important;
  }

  .page .tab-header mat-card-title {
    font-size: 20px !important;
  }
  .page ::ng-deep .mat-tab-label {
    padding: 0;
  }
  .page ::ng-deep .mat-tab-header-pagination {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 1400px) {
  .page .content.character  > div {
      flex: 0 1 50%;
  }
}
@media (min-width: 1400px) and (max-width: 2100px) {
  .page .content.character  > div {
      flex: 0 1 33%;
  }
}
@media (min-width: 2100px) and (max-width: 3500px) {
  .page .content.character  > div {
      flex: 0 1 25%;
  }
}
@media (min-width: 3500px) {
  .page .content.character  > div {
      flex: 0 1 20%;
  }
}
