@import '~@angular/material/theming';




:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page {
    display: flex;
    overflow: hidden;

    mat-tab-group {
      flex: 1 1 100%;
      overflow-x: hidden;
      //::ng-deep .mat-tab-header-pagination {
      //  display: none !important;
      //}
    }

    ::ng-deep .mat-tab-label {
      height: 7em;
    }

    .tab-header mat-card-title {
      width: 13em;
      transition: all 200ms ease-in;
      transform: scale(0.7);
    }

    .tab-header.selected  mat-card-title {
      width: 16em;
      transition: all 200ms ease-in;
      transform: scale(1);
    }

    .content {
      display: flex;

      > div {
        flex: 1 1 33%;
      }
    }

    .character {
      flex: 1 1 auto;
      //display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: center;

      .character-card {
        background-color: #303030;
        flex: 1 1 100%;

        > div {
          padding-top: 16px;
        }

        div.tooltip {
          color: grey;
          padding-top: 0;
          padding-right: 0.3em;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }


        .mat-card-title {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 3em;
          text-align: center;
          color: white;
          display: flex;
          align-items: stretch;
          justify-content: center;

          .type {
            padding-top: 0.8em;
            width: 14em;
            position: relative;

            .light {
              font-size: 0.8em;
              position: absolute;
              right: 0;
              bottom: 0.5em;
            }
            .race {
              font-size: 0.6em;
              padding-left: 0.5em;
            }
          }

        }

      }

      .not-visible {
        display: none;
      }

      @-webkit-keyframes glowing {
        from {
          background-color: #424242;
        }
        to {
          background-color: #666666;
        }
      }
      .glow mat-card {
        animation: glowing 1s ease-in-out infinite alternate;
      }

      div {
        mat-card {
          border-color: #424242;
          border-width: 1px;
          border-style: solid;
        }
        mat-card.selected {
          border-color: rgba(255, 255, 141, 0.8);
        }
        mat-card .highlighter {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 141, 0.05);
          top: 0;
          left: 0;
          display: none;
        }
        mat-card.selected .highlighter {
          display: block;
        }
      }

      .pursuit-item {

        overflow: hidden;
        height: 100%;
        margin: 1px;

        .pursuit-title {
          display: flex;
          align-items: center;
        }

        .pursuit-text {
          margin-left: 0.5em;
          width: 100%;
        }

        .pursuit-itemType {
          color: rgba(0, 0, 0, 0.6);
        }

        .pursuit-item-icon {
          width: 2em;
          vertical-align: middle;
        }

        .pursuit-description {
          font-size: 0.5em;
        }

        .pursuit-expiration {
          font-size: 0.5em;
          font-style: italic;
          float: right;
        }

        //.selected {
        //  -webkit-transform: rotate(45deg);
        //  position: absolute;
        //  right: -34px;
        //  top: 10px;
        //  width: 100px;
        //  text-align: center;
        //  font-size: 13px;
        //  line-height: 15px;
        //  //background-color: #ffff8d;
        //  background-color: rgba(255, 255, 141, 0.8);
        //  display: none;
        //}


        .reward {
          padding-left: 4em;

          span {
            vertical-align: middle;
          }

          .reward-icon, .reward-identifier-icon {
            width: 1.5em;
            vertical-align: middle;
            padding-right: 0.5em;
          }
        }

        .objective {
          padding-left: 4em;
          display: flex;

          .objective-checkbox {
            flex: 1 1 100%;

            ::ng-deep label {
              width: 100%;
              white-space: normal;

              .mat-checkbox-inner-container {
                margin-left: 0;
              }

              .mat-checkbox-label {
                width: 100%;
                position: relative;
              }
            }
          }

          .objective-checkbox-border {
            ::ng-deep .mat-checkbox-label {
              border-style: solid;
              border-width: 1px;
              border-color: #1b5e20;
            }
          }

          .objective-description {
            z-index: 10;
            opacity: 1;
            position: relative;

            span {
              font-size: 0.7em;
            }
          }

          .objective-progress {
            z-index: 10;
            opacity: 1;
            position: relative;
            float: right;
          }

          .objective-progressbar {
            background-color: #2e7d32;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            opacity: 0.3;
            z-index: 1;
          }

          .objective-running {
            width: 7em;
            padding-left: 0.5em;
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 19;
          }
        }
      }
      .pursuit-item.selected .selected {
        display: block;
      }


    }

    .config-choices {
      position: absolute;
      right: 0;
    }


  }

  ::ng-deep .highlight-text {
    background-color: #ffff8d;
    color: #303030;
  }
  .searched ::ng-deep .highlight-text {
    background-color: #ffff00;
    color: #303030;
  }


}

@media (max-width: 700px) {
  .page .content.character  > div {
    flex: 0 1 100%;
  }
  .page .tab-header.selected mat-card-title {
    width: 12em !important;
  }
  .page ::ng-deep .mat-tab-label {
    height: 5em !important;
  }

  .page .tab-header mat-card-title {
    font-size: 20px !important;
  }
  .page ::ng-deep .mat-tab-label {
    padding: 0;
  }
  .page ::ng-deep .mat-tab-header-pagination {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 1400px) {
  .page .content.character  > div {
      flex: 0 1 50%;
  }
}
@media (min-width: 1400px) and (max-width: 2100px) {
  .page .content.character  > div {
      flex: 0 1 33%;
  }
}
@media (min-width: 2100px) and (max-width: 3500px) {
  .page .content.character  > div {
      flex: 0 1 25%;
  }
}
@media (min-width: 3500px) {
  .page .content.character  > div {
      flex: 0 1 20%;
  }
}
