doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src="javascripts/d3chart1.js")
    script(src="https://d3js.org/d3.v3.min.js")
    //script(src="https://d3js.org/d3.v3.js")
  body(onLoad="loadData()")
    block content
