<div class="docs-header">
  <div class="docs-header-left">
    <nav class="docs-navbar-header">
      <a mat-button class="docs-button title" routerLink="/" attr.aria-label="{{'title' | translate}}">
        <span>{{'title' | translate}}</span>
      </a>
      <a mat-button class="docs-navbar-hide-small docs-button" color="{{ link.selected ? 'primary' : 'none'}}"
         *ngFor="let link of linksLeft"
         routerLink="{{link.path}}">
        <img class="nav-img" *ngIf="link.iconType=='img'" src="{{link.icon}}" alt="{{link.label|translate}}"
             title="{{link.label|translate}}">
        <i class="fas {{link.icon}}" *ngIf="link.iconType=='fas'" title="{{link.label|translate}}"></i>
        <mat-icon svgIcon="{{link.icon}}" *ngIf="link.iconType=='svgIcon'" title="{{link.label|translate}}">></mat-icon>
        <span class="link-text">{{link.label|translate}}</span>
      </a>
      <div class="flex-spacer"></div>
      <a mat-button class="docs-navbar-hide-small docs-button" color="{{ link.selected ? 'primary' : 'none'}}"
         *ngFor="let link of linksRight"
         routerLink="{{link.path}}">
        <img class="nav-img" *ngIf="link.iconType=='img'" src="{{link.icon}}" alt="{{link.label|translate}}"
             title="{{link.label|translate}}">
        <i class="fas {{link.icon}}" *ngIf="link.iconType=='fas'"></i>
        <mat-icon svgIcon="{{link.icon}}" *ngIf="link.iconType=='svgIcon'"></mat-icon>
        <span class="link-text">{{link.label|translate}}</span>
      </a>
    </nav>
  </div>
  <div class="docs-header-right">
    <div class="docs-navbar-hide-small not-reloading" *ngIf="!reloading"></div>
    <mat-spinner class="docs-navbar-hide-small reloading" diameter="20" *ngIf="reloading"></mat-spinner>
    <div class="docs-navbar-hide-small connected-user" *ngIf="user['bungieNetUser']">
      <img
          src="{{'https://www.bungie.net'+user['bungieNetUser'].profilePicturePath}}"
          alt="{{user['bungieNetUser'].displayName}}"> {{user['bungieNetUser'].displayName}}
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toggleShowOnlyPowerfulGear()">
        <mat-icon>trending_up</mat-icon>
        <span *ngIf="config.showOnlyPowerfulGear">{{'power_gear_only'|translate}}</span>
        <span *ngIf="!config.showOnlyPowerfulGear">{{'power_gear_not_only'|translate}}</span>
      </button>
      <button mat-menu-item *ngIf="user.bungieNetUser" (click)="logout()">
        <mat-icon>lock_open</mat-icon>
        <span>{{'logout'|translate}}</span>
      </button>
      <button mat-menu-item *ngIf="config.language != 'fr'" (click)="toggleLang('fr')">
        <mat-icon svgIcon="flag_fr"></mat-icon>
        <span>{{'label.french' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="config.language != 'en'" (click)="toggleLang('en')">
        <mat-icon svgIcon="flag_us"></mat-icon>
        <span>{{'label.english' | translate}}</span>
      </button>

    </mat-menu>
  </div>
</div>
