:host {
  padding-bottom: 3px;
}
.docs-header {
  display: flex;

  .docs-header-left {
    flex: 1 1 100%;
  }
  .docs-header-right {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    margin-right: 1em;
  }
}
.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }

  .title {
    font-size: 1.2em;
  }
}

.flex-spacer {
  flex-grow: 1;
}

.docs-navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.docs-navbar {
  display: none;
  align-items: center;
}

.docs-navbar-show-small {
  display: none;
}

.reloading, .not-reloading {
  margin-left: 1em;
  margin-right: 0.5em;
  width: 20px;
  height: 20px;
}
.connected-user {
  font-size: 1.2em;
  img {
    width: 1.2em;
    vertical-align: middle;
  }
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .docs-navbar-header .title {
    display: none;
  }
  .docs-navbar-hide-small {
    display: none;
  }

  .docs-navbar-show-small {
    display: block;
  }

  .docs-navbar {
    display: flex;
  }

  .docs-navbar--github-logo {
    margin: 0;
  }
}
