:host {
  padding-bottom: 4px;
}
.docs-header {
  display: flex;

  .docs-header-left {
    flex: 1 1 100%;
  }
  .docs-header-right {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    margin-right: 1em;
    flex-direction: row;

    .user {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .search {
      //position: absolute;
      //right: 1em;
      //margin-top: -1em;
      font-size: 0.8em;
    }
    .version-small {
      font-size: 0.5em;
      position: absolute;
      top: 0.5em;
      right: 0.1em;
      line-height: 0.5em;
      display: none;
    }


  }
}
.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    min-width: 80px;

    &:last-child {
      margin-left: auto;
    }

    .nav-img {
      width: 2em;
      //padding-bottom: 0.3em;
    }
    i.fas {
      font-size: 1.5em;
      //padding-bottom: 0.1em;
    }
    mat-icon {
      //padding-bottom: 0.3em;
    }

    .link-text {
      padding-left: 0.5em;
    }

  }

  .title {
    font-size: 1.2em;
  }
  .version {
    font-size: 0.5em;
    position: absolute;
    bottom: 0.3em;
    right: 10px;
    line-height: 0.5em;  }
}

.flex-spacer {
  flex-grow: 1;
}

.docs-navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.docs-navbar {
  display: none;
  align-items: center;
}

.docs-navbar-show-small {
  display: none;
}

.reloading, .not-reloading {
  margin-left: 1em;
  margin-right: 0.5em;
  width: 20px;
  height: 20px;
}
.connected-user {
  font-size: 1.2em;
  padding-right: 0.5em;
  img {
    width: 1.2em;
    vertical-align: bottom;
  }
}

.mat-menu-item {
  font-size: 0.8em;
}

@media (max-width: 720px) {
  .docs-navbar-header .title, .link-text, .flex-spacer {
    display: none;
  }

  .docs-header .docs-header-right {
    flex-direction: column;
    .version-small {
      display: block;
    }
  }

  .docs-navbar-header > .mat-button {
    min-width: 40px !important;
    padding-right: 0 !important;
  }
}


