<div class="docs-header" (window:resize)="onResize()">
  <div class="docs-header-left">
    <nav class="docs-navbar-header">
      <a mat-button class="docs-button title" routerLink="/" attr.aria-label="{{'title' | translate}}">
        <span>{{'title' | translate}}</span><span class="version" matTooltip="commit : {{commit.shorthash}} ({{commit.timestamp * 1000 | date}})">{{version}}</span>
      </a>
      <a mat-button class="docs-navbar-hide-small docs-button" color="{{ link.selected ? 'primary' : 'none'}}"
         *ngFor="let link of linksLeft"
         routerLink="{{link.path}}">
        <img class="nav-img" *ngIf="link.iconType=='img'" src="{{link.icon}}" alt="{{link.label|translate}}"
             title="{{link.label|translate}}">
        <i class="fas {{link.icon}}" *ngIf="link.iconType=='fas'" title="{{link.label|translate}}"></i>
        <mat-icon svgIcon="{{link.icon}}" *ngIf="link.iconType=='svgIcon'" title="{{link.label|translate}}">></mat-icon>
        <span class="link-text">{{link.label|translate}}</span>
      </a>
      <div class="flex-spacer"></div>
      <a mat-button class="docs-navbar-hide-small docs-button" color="{{ link.selected ? 'primary' : 'none'}}"
         *ngFor="let link of linksRight"
         routerLink="{{link.path}}">
        <img class="nav-img" *ngIf="link.iconType=='img'" src="{{link.icon}}" alt="{{link.label|translate}}"
             title="{{link.label|translate}}">
        <i class="fas {{link.icon}}" *ngIf="link.iconType=='fas'"></i>
        <mat-icon svgIcon="{{link.icon}}" *ngIf="link.iconType=='svgIcon'"></mat-icon>
        <span class="link-text">{{link.label|translate}}</span>
      </a>
    </nav>
  </div>
  <div class="docs-header-right">
    <span class="version-small" matTooltip="commit : {{commit.shorthash}} ({{commit.timestamp * 1000 | date}})">{{version}}</span>
    <div class="tags">
      <mat-chip-list>
          <mat-chip [ngClass]="{selected: tagSelected(tag)}" *ngFor="let tag of tagList" (click)="toggleTag(tag, $event)" (dblclick)="toggleAllTag(tag, $event)">
            <img class="nav-img" *ngIf="tag.iconType=='img'" src="{{tag.icon}}" alt="{{tag.name|translate}}"
                 title="{{tag.name|translate}}">
            <i class="fas {{tag.icon}}" *ngIf="tagList[0].iconType=='fas'" title="{{tag.name|translate}}"></i>
            <mat-icon svgIcon="{{tag.icon}}" *ngIf="tag.iconType=='svgIcon'" title="{{tag.name|translate}}">></mat-icon>
          </mat-chip>
      </mat-chip-list>
    </div>
    <div class="user">
      <div class="docs-navbar-hide-small not-reloading" *ngIf="reloading === 0"></div>
      <mat-progress-spinner class="docs-navbar-hide-small reloading" diameter="20" *ngIf="reloading !== 0" mode="determinate" [value]="reloading"></mat-progress-spinner>
      <div class="docs-navbar-hide-small connected-user" *ngIf="user['bungieNetUser']">
        <img
            src="{{'https://www.bungie.net'+user['bungieNetUser']['profilePicturePath']}}"
            alt="{{user['bungieNetUser']['displayName']}}"> {{user['bungieNetUser']['displayName']}}
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button *ngIf="updateNeeded" (click)="update()" matTooltip="{{'update-needed' | translate}}" color="primary">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <div class="search" *ngIf="search.shown">
      <mat-form-field appearance="legacy">
        <input matInput placeholder="{{ 'label.search' | translate }}" [(ngModel)]="searchTextfield"
               (ngModelChange)="searchText()" (keyup.enter)="searchNext($event)">
        <mat-hint *ngIf="search.foundCount > 0" align="start">{{search.foundCurrent % search.foundCount + 1}}/{{search.foundCount}}</mat-hint>
        <mat-icon *ngIf="search.style === searchStyle.SEARCH" matSuffix (click)="searchToggleType()">search</mat-icon>
        <mat-icon *ngIf="search.style === searchStyle.FILTER" matSuffix (click)="searchToggleType()">filter_list</mat-icon>
      </mat-form-field>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="visibleItems" *ngIf="user.bungieNetUser">
        <mat-icon>visibility</mat-icon>
        {{'visibleItems'|translate}}
      </button>
      <!--<button mat-menu-item (click)="toggleShowOnlyPowerfulGear()">-->
      <!--<mat-icon>trending_up</mat-icon>-->
      <!--<span *ngIf="config.showOnlyPowerfulGear">{{'power_gear_only'|translate}}</span>-->
      <!--<span *ngIf="!config.showOnlyPowerfulGear">{{'power_gear_not_only'|translate}}</span>-->
      <!--</button>-->
      <button mat-menu-item *ngIf="user.bungieNetUser" (click)="logout()">
        <mat-icon>lock_open</mat-icon>
        <span>{{'logout'|translate}}</span>
      </button>
      <button mat-menu-item *ngIf="config.language != 'fr'" (click)="toggleLang('fr')">
        <mat-icon svgIcon="flag_fr"></mat-icon>
        <span>{{'label.french' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="config.language != 'en'" (click)="toggleLang('en')">
        <mat-icon svgIcon="flag_us"></mat-icon>
        <span>{{'label.english' | translate}}</span>
      </button>

    </mat-menu>
    <mat-menu #visibleItems="matMenu">
      <button mat-menu-item *ngFor="let key of visibleRewardsKeys">
        <mat-checkbox class="objective-checkbox" (click)="saveConfig($event)"
                      [(ngModel)]="config.visible.rewards[key]">
          <span>{{'label.' + key | translate}}</span>
        </mat-checkbox>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item *ngFor="let key of visibleTypeKeys">
        <mat-checkbox class="objective-checkbox" (click)="saveConfig($event)"
                      [(ngModel)]="config.visible.types[key]">
          <span>{{'label.' + key | translate}}</span>
        </mat-checkbox>
      </button>

    </mat-menu>
  </div>
</div>
