:host {

  .reward {
    padding-left: 4em;

    span {
      vertical-align: middle;
    }

    .reward-icon, .reward-identifier-icon {
      width: 1.5em;
      vertical-align: middle;
      padding-right: 0.5em;
    }
  }

}
