:host {

/*zoom: 0.7;*/


  .selected {
    background-color: #f44336;
    opacity: 1;
  }

  mat-chip {
    margin: 2px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    opacity: 0.5;

    img {
      height: 24px;
      width: 24px;
    }
  }


}
